[Unit]
Description=Displays forecast
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=900s
ExecStart=/usr/bin/ukko

[Install]
WantedBy=multi-user.target
